.fondo{
    height: 1000px;
    width: 1000px;
    opacity: 100%;
}


*{
    margin: 0;
    padding: 0;
}

.asd{
    width: 100%;
    display: flex;
    justify-content: center;
    height: 500x;
    margin-top: -20px;
}


header .menu{
    background-color: red;
    width: 100%;
    display: flex;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

header .menu ul{
    display: flex;
    list-style: none;
}

header .menu ul li a{
    color: white;
    text-decoration: none;
    font-size: 20px;
    margin-right: 10px;
    margin-left: 10px;
    transition: .5s;
}

header .menu ul li a:hover{
    color:red;
}

.container-1{
    margin-top: 50px;
}

#T1{
    background-color: red;
    padding: 20px;
}

#T2{
    font-family: fantasy;
    font-style: oblique;
    text-align: center;
}

#noticia{
    display: flex;
}

#fotoN{
    margin-top: 25px;
    margin-left: 10px;
    border-radius: 20px;
    height: 400px;
    width: 400px;
}

#tituloN{
    margin-top: 0px;
    margin-left: 60px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

#textoN{
    margin-left: 30px;
    margin-top: 28px;
}




.container-2{
    margin-top: 80px;
}

#fotoN2{
    margin-top: 25px;
    margin-left: 10px;
    border-radius: 20px;
    height: 325px;
    width: 525px;
}

#tituloN2{
    margin-top: 60px;
    margin-left: 60px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

#textoN2{
    margin-left: 30px;
    margin-top: 28px;
}

.container-3{
    margin-top: 80px;
}

#fotoN3{
    margin-top: 25px;
    margin-left: 10px;
    border-radius: 20px;
    height: 325px;
    width: 525px;
}

#tituloN3{
    margin-top: 60px;
    margin-left: 60px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

#textoN3{
    margin-left: 30px;
    margin-top: 15px;
}